

/* MOBILES */
.home{
    display: inline-block;
    width: 100%;
    padding: 3%;
    
  
   
}

.community-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    color: white;
    padding: 4px;
    right: 2%;
    top: 1.5%;
    /* background-color: rgba(0, 64, 255, 0.758); */
    background-color: #2F58CD;
    border-radius: 5px;
    border-bottom: 2px solid black;
}
.home p{
    display: flex;
    justify-content: center;
    color: rgba(236, 6, 6, 0.253);
    font-size: medium;
    margin-bottom: 10px;
    color: rgba(64, 66, 67, 0.598);
    font-family: 'Noto Serif Lao', serif;

    
}
/* .home input{
    display: flex;
    justify-content: start;
    border: 2px solid;
    width: 98%;
    height: 40px;
    border-radius: 10px ;
} */
.home .input-div{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.home .input-div input{
    display: flex;
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.269);
    border-left:1px solid rgba(0, 0, 0, 0.281) ;
    border-right:1px solid rgba(0, 0, 0, 0.281) ;
    box-sizing: border-box;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.281);
    background-color: #fff;
    width: 88%;
    height: 40px;
    border-radius: 5px ;

}
.home .input-div input:focus{
    outline: none;
}

.home .input-div .text-button{
    display: none;
}


.home .input-div .icon-button{
    display:flex;
    justify-content: center;
    align-items: center;

    width: 10%;
    height: 40px;
    
    border-radius: 7px;
    /* background-color: rgb(29, 188, 29); */
    background-color: #13cd02;
    border-bottom: 2px solid rgba(0, 0, 0, 0.338);
    margin: auto;
    /* margin-left: 48%; */
  
  
}

.home .image-section{
  
    display: inline-block;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    
}
.home .image-section .loader{
   display: flex;
   position: absolute;
   margin-left: 45%;
   margin-top: -20%; 
}


.bottom-buttons .share-download{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  
}

.bottom-buttons .share-download .share-button{
  
    background-color:#13cd02 ;
    border-bottom: 2px solid rgba(0, 0, 0, 0.338);
    margin: auto;
    padding: 1%;
    width: 45%;
    height: 50px;
    border-radius: 10px;
  
}
.bottom-buttons .share-download .download-button{
    
    justify-content: center;
    background-color:#13cd02;
    border-bottom: 2px solid rgba(0, 0, 0, 0.338);
    width: 45%;
    padding: 1%;
    border-radius: 10px;

   
  
}



/* LARGER SCREENS */
@media screen and (min-width:768px){
    .community-button{
        display: flex;
        position:absolute;
       font-size: 1.5rem;
        right: 1%;
        top: 2%;
    }
    .home p{
        display: flex;
        color: rgba(64, 66, 67, 0.598);
        justify-content: start;
        font-size:larger;
        margin-bottom: 10px;
        font-family: 'Noto Serif Lao', serif;

       
    }

    .home .input-div{
        display: flex
    
    }

    .home.input-div input{
       
        display: flex;
        justify-content: start;
        border: 2px solid;
        width: 80%;
        height: 40px;
        border-radius: 10px ;
    }

    .home .input-div .text-button{
        display: flex;
        justify-content: center;
        align-items: center;
     
        width: 20%;
        height: 40px;
        border-radius: 10px;
        background-color: #13cd02;
        border-bottom: 2px solid rgba(0, 0, 0, 0.338);
        margin-top: 0px;
        margin-left: 2%;
      
    }
    .home .input-div .icon-button{
        display: none;
       
      
    }
   
    .home .image-section img{
        padding: 0;
        display: flex;
        justify-content: center;
        margin: auto;
        width: 40%;
        height: 40%
    
}   
    .share-download{

    display: flex;
    flex-direction: column;


    
    }
    .share-download button{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        
       
        
        
    }
    .share-download .download-button{

        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 27.5%;
        height: 50px;
       
        
    }

        

}

